CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
PRODUCT_NAME = $(TARGET_NAME)
SKIP_INSTALL = YES
INFOPLIST_FILE = Resources/Info.plist
GCC_PREFIX_HEADER = Source/Prefix.pch
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
ALWAYS_SEARCH_USER_PATHS = YES

ARCHS = x86_64
CLANG_X86_VECTOR_INSTRUCTIONS = sse4.1
MACOSX_DEPLOYMENT_TARGET = 10.9
SDKROOT = macosx
COMBINE_HIDPI_IMAGES = YES

USER_HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/lib/include
FRAMEWORK_SEARCH_PATHS = $(inherited) <redacted>
LIBRARY_SEARCH_PATHS = $(inherited) <redacted>
